body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #111;
  color: #fff;
  margin: 0;
}

#game-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

#click-area {
  flex: 0 0 auto;
  text-align: center;
}

#flame {
  width: 200px;
  cursor: pointer;
}

#shop {
  width: 250px;
  background: #222;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
}

.shop-item {
  border-bottom: 1px solid #444;
  padding: 10px 0;
}

.shop-item button {
  padding: 5px 10px;
  background: orange;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}

.shop-item button:disabled {
  background: gray;
  cursor: not-allowed;
}


button:hover:enabled {
  background: #ff1a1a;
}
